a, p { color: black; text-decoration: none; } 

ul { margin: 10; padding: 10; } 

li { margin: 20px; margin-top: 15px; float: left; font-size: 15px; } 

body { margin: 0px; padding: 0px; } 

h2 { text-align: left; margin-top: 25px; font-size: 20px; margin-left: 30px; } 

/*******************************************************grid 1*****************************************/

#grid { border-bottom: 1px solid #FFFF; display: grid; grid-template-columns: 2fr 1fr; } 

/*******************************************************grid 2*****************************************/


#grid2 { display: grid; grid-template-columns: 1fr 2fr;  height: 500px; } 
 
#grid2 .maintext { position: absolute; top: 500px; text-align: right; right: 30px; line-height: 1em; } 
#grid2 .maintext h3 { font-size: 30px; } 
.maintext p { font-size: 15px; } 

.circle1 { position: fixed; left: 100px; width: 100px; height: 100px; border-radius: 100px; text-align: center; margin: 0; font-size: 30px; vertical-align: left; border: none; box-shadow: 0 4px 15px rgba(0, 79, 255, 0.4); } 

.circle1 button {  background-color: transparent ! important; border: none; width: 100px; height: 100px; position: relative; text-align: center; border-radius: 100px; text-align: center; line-height: 4em; font-style: italic; color: SteelBlue; font-size: 20px; transition: 1s; /*transform:translate(-50%, -50%); */ } 

#menuTable button { position: absolute; height: -100px; left: -60px; border:none; color: none; text-align: center; width: max-content; height: fit-content; } 
 #grid2 #menuTable p { font-size: 12px; margin-bottom: -5px; line-height: 15px; } 
 #grid2 #menuTable button:hover { cursor:pointer; box-shadow: none; } 

 #grid2 #seemore button { position: relative; top: 260px; box-shadow: 0px 10px 14px -7px #276873; background:linear-gradient(to bottom, #08b9fa 5%, #00ddff 100%); background-color:#08b9fa; border-radius:15px; color:#ffffff; font-family:Trebuchet MS; font-size:13px; font-weight:bold; text-decoration:none; text-align: center; line-height: 0em; text-shadow:0px 1px 0px #3d768a; width:fit-content; height:30px; } 
 #grid2 #seemore button:hover { cursor:pointer; background:linear-gradient(to bottom, #00ddff 5%, #08b9fa 100%); } 

 #grid2 .circle1 button:focus { outline: 0; } 
 #grid2 .circle1 button:hover { cursor: pointer; box-shadow: 0 4px 15px #AFEEEE; } 

/*****************************************grid3****************************************/
#grid3 { display: grid; grid-template-rows: max-content; position: relative;  text-align: left; left: 250px; } 
 #grid3 h3 { font-size: 20px; } 
 #grid3 p { font-size: 13; line-height: 3px; } 

/**************************************grid4**********************************/
#grid4 { display: grid; position: relative;  text-align: right;right: 40px; margin-top: 200px;line-height: 10px;} 
#grid4 h1{font-size: 30px;}



